body {
    background: #83A5D4;
    color: white;
    font-size: 30px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  body #container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  body #container .main-title {
    font-size: 50px;
    margin-bottom: 20px;
  }
  body #container .length-control {
    width: 250px;
  }
  body #container button {
    background: none;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  body #container .btn-level,
  body #container .length-control {
    display: inline-block;
  }
  body #container .btn-level .btn-level:nth-child(3),
  body #container .length-control .btn-level:nth-child(3) {
    width: 40px;
  }
  body #container .timer {
    border: 7px solid #13353a;
    margin: 20px auto 10px auto;
    width: 270px;
    height: 160px;
    border-radius: 50px;
    position: relative;
  }
  body #container .timer .timer-wrapper {
    position: absolute;
    width: 190px;
    height: 110px;
    left: 50%;
    top: 50%;
    margin-left: -95px;
    margin-top: -57px;
  }
  body #container .timer #time-left {
    font-family: digital;
    font-size: 80px;
  }
  body #container .timer .timer-control button:active {
    color: #13353a;
  }
  
  @media screen and (max-width: 500px) {
    #container {
      transform: scale(0.8);
      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      -ms-transform: scale(0.8);
      -o-transform: scale(0.8);
    }
  }
  .author {
    text-align: center;
    font-family: Share Tech Mono, sans;
    margin-top: 15px;
    font-size: 16px;
    color: #ff0000;
  }
  .author a {
    text-decoration: none;
    color: #ff0000;
    line-height: 26px;
    font-weight: bold;
  }
